@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.activities-screen {
  margin-top: $navbar-reset;
  .activities-jumbotron-div {
    letter-spacing: 3px;
    background-color: #535c64;
    font-family: "Poppins", sans-serif;
    color: white;
  }
}
